body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background: white;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}